{% load django_htmx static %}
<!DOCTYPE html>
<!--suppress XmlUnboundNsPrefix -->
<html lang="en">
<head>
  <meta charset="UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{% block title %}Puka{% endblock %}</title>
  <link rel="icon" href="{% static 'favicon.ico' %}" sizes="any">
  <link rel="icon" href="{% static 'favicon.svg' %}" type="image/svg+xml">
  <link rel="apple-touch-icon" href="{% static 'icon-512.png' %}">
  <link rel="manifest" href="{% static 'manifest.webmanifest' %}">
  <link rel="preconnect" href="https://rsms.me/">
  <link rel="stylesheet" href="https://rsms.me/inter/inter.css"/>
  <link rel="stylesheet" href="{% static 'puka/main.css' %}">
  <script defer src="{% static 'puka/main.js' %}"></script>
  {% django_htmx_script %}
</head>
<body>
<div class="flex h-screen flex-col">
  <header class="bg-gray-900 px-6 py-4">
    <div class="md:flex md:items-center md:justify-between">
      <div class="min-w-0 flex-1">
        <h2
            class="text-2xl font-bold leading-7 text-white sm:truncate sm:text-3xl"
        ><a
            href="{% url 'bookmarks' %}"
            hx-get="{% url 'bookmarks' %}"
            hx-target="#id_bookmarks"
        >
          <img class="w-8 inline-block" src="{% static 'logo.svg' %}" alt="Logo">
          Puka Bookmarks
        </a>
        </h2>
      </div>
      <div
          x-data="{search: false}"
          x-on:keydown.meta.K.window="search = true"
          class="mr-4 relative flex items-center"
      >
        <label class="hidden" for="search">Search</label>
        <input
            type="text"
            name="q"
            id="search"
            hx-get="{% url 'bookmarks' %}"
            hx-trigger="keyup changed delay:0.5s"
            hx-target="#id_bookmarks"
            class="focus:ring-indigo-500 focus:border-indigo-500 block w-full pr-12 sm:text-sm border-gray-300 rounded-md"
            x-on:keyup.esc.prevent.stop="$el.blur()"
            x-on:blur="$el.value = ''; search = false"
            x-trap="search"
        >
        <div class="absolute inset-y-0 right-0 flex py-1.5  pr-1.5">
          <kbd
              class="inline-flex items-center border border-gray-200 rounded-sm px-2 text-sm font-sans font-medium text-gray-400">
            ⌘K </kbd>
        </div>
      </div>
      <div class="mt-4 flex md:mt-0 md:ml-4">
        <button
            type="button"
            hx-get="{% url 'bookmark-create' %}"
            hx-trigger="click"
            hx-target="#id_bookmark_edit"
            hx-swap="outerHTML"
            class="inline-flex items-center rounded-md border border-transparent bg-gray-600 px-4 py-2 text-sm font-medium text-white shadow-xs hover:bg-gray-700 focus:outline-hidden focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2 focus:ring-offset-gray-800"
        >
          New
        </button>
      </div>
    </div>
  </header>
  <main
      class="grow bg-neutral-100 px-4 py-4 sm:px-6 sm:py-6 lg:px-8 lg:py-8"
  >
    <div class="mx-auto max-w-4xl bg-white">
      <ul
          id="id_bookmarks"
          role="list"
          class="divide-y divide-gray-200 shadow-sm"
          hx-get="{% url 'bookmarks' %}"
          hx-trigger="bookmarkAdded from:body"
      >
        {% block content %}{% endblock %}
      </ul>
    </div>
  </main>
</div>
<div id="id_bookmark_edit"></div>
</body>
</html>
