{% load static utils %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{% block title %}Puka{% endblock %}</title>
        <link rel="stylesheet" href="https://rsms.me/inter/inter.css">
        <link rel="stylesheet" href="{% static 'puka/main.css' %}">
        <link rel="icon" href="/favicon.ico" sizes="32x32">
        <link rel="icon" type="image/svg+xml" href="{% static 'favicon.svg' %}">
        <script defer src="{% static 'puka/main.js' %}"></script>
    </head>
    <body
        hx-headers:inherited='{"X-CSRFToken": "{{ csrf_token }}"}'
        class="min-h-screen bg-base-100 text-base-content"
    >
        {% block root %}{% endblock root %}
    </body>
</html>
