{# InventoryForm.template_name. #}
<c-form.field :field="form.item" />
<div class="grid grid-cols-1 gap-x-6 gap-y-4 sm:grid-cols-6">
    <c-form.field :field="form.location" class="sm:col-span-4" />
    <c-form.field :field="form.quantity" class="sm:col-span-2" />
</div>
{% if form.instance.pk %}{% url 'stuff:inventory-delete' form.instance.pk as delete_url %}{% endif %}
<c-form.actions
    submit="Save item"
    cancel="{% url 'stuff:item-list' %}"
    delete="{{ delete_url }}"
    confirm="Delete this item?"
/>
