@import "tailwindcss";

/*noinspection CssInvalidAtRule*/
@plugin "@tailwindcss/forms";
@plugin "daisyui" {
  themes: winter --default, night --prefersdark;
};

/*noinspection CssInvalidAtRule*/
@source "../../../.venv/lib/python3.13/site-packages/crispy_tailwind";

/*noinspection CssInvalidAtRule*/
@theme {
    --font-sans: Inter var, ui-sans-serif, system-ui, sans-serif,
        "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
        "Noto Color Emoji";
}

.puka-logo-mask {
    width: 8rem;
    height: 2rem;
    display: inline-block;
    background-color: var(--color-primary);
    mask-image: url("/static/logo.svg");
    mask-repeat: no-repeat;
    mask-position: center;
    mask-size: contain;
    -webkit-mask-image: url("/static/logo.svg");
    -webkit-mask-repeat: no-repeat;
    -webkit-mask-position: center;
    -webkit-mask-size: contain;
}

.puka-task-menu {
  @apply badge badge-secondary glass;
}
