<div
    id="id_bookmark_edit"
    class="relative z-10"
    {% if not show_form %}
    classes="add hidden:700ms"
    {% endif %}
    aria-labelledby="slide-over-title"
    role="dialog"
    aria-modal="true"
    hx-ext="class-tools"
>
  {# Background backdrop, show/hide based on slide-over state.  #}
  <div
      class="fixed inset-0 bg-gray-600 opacity-50"
            {% if not show_form %}
            classes="add hidden:700ms"
            {% endif %}
  ></div>

  <div class="fixed inset-0 overflow-hidden">
    <div class="absolute inset-0 overflow-hidden">
      <div
          class="pointer-events-none fixed inset-y-0 right-0 flex max-w-full pl-10 sm:pl-16"
      >
        <div
            {% if show_form %}
              classes="add translate-x-0, remove translate-x-full"
              class="transform transition ease-in-out duration-500 sm:duration-700 translate-x-full pointer-events-auto w-screen max-w-xl"
            {% else %}
              classes="remove translate-x-0, add translate-x-full"
              class="transform transition ease-in-out duration-500 sm:duration-700 pointer-events-auto w-screen max-w-xl"
            {% endif %}
        >
          <form
              class="flex h-full flex-col divide-y divide-gray-200 bg-white shadow-xl"
          >
            <div class="h-0 flex-1 overflow-y-auto">
              <div class="bg-black py-6 px-4 sm:px-6">
                <div class="flex items-center justify-between">
                  <h2
                      class="text-lg font-medium text-white"
                      id="slide-over-title"
                  >
                    New Bookmark
                  </h2>
                  <div class="ml-3 flex h-7 items-center">
                    <button
                        type="button"
                        hx-get="{% url 'bookmark-cancel' %}"
                        hx-target="#id_bookmark_edit"
                        hx-swap="outerHTML"
                        class="rounded-md bg-indigo-700 text-indigo-200 hover:text-white focus:outline-none focus:ring-2 focus:ring-white"
                    >
                      <span class="sr-only">Close panel</span>
                      {# Heroicon name: outline/x #}
                      <svg
                          class="h-6 w-6"
                          xmlns="http://www.w3.org/2000/svg"
                          fill="none"
                          viewBox="0 0 24 24"
                          stroke-width="2"
                          stroke="currentColor"
                          aria-hidden="true"
                      >
                        <path
                            stroke-linecap="round"
                            stroke-linejoin="round"
                            d="M6 18L18 6M6 6l12 12"></path>
                      </svg>
                    </button>
                  </div>
                </div>
                <div class="mt-1">
                  <p class="text-sm text-indigo-200">
                    Fill in the information below to create your new bookmark.
                  </p>
                </div>
              </div>
              <div class="flex flex-1 flex-col justify-between">
                <div class="divide-y divide-gray-200 px-4 sm:px-6">
                  <div class="space-y-6 pt-6 pb-5">
                    <div>
                      <label
                          for="{{ form.title.id_for_label }}"
                          class="block text-sm font-medium text-gray-900"
                      >
                        Bookmark name
                      </label>
                      <div class="mt-1">
                        {{ form.title }}
                      </div>
                    </div>
                    <div>
                      <label
                          for="{{ form.description.id_for_label }}"
                          class="block text-sm font-medium text-gray-900"
                      >
                        Description
                      </label>
                      <div class="mt-1">
                        {{ form.description }}
                      </div>
                    </div>

                    <div>
                      <label
                          for="{{ form.url.id_for_label }}"
                          class="block text-sm font-medium text-gray-900"
                      >
                        URL
                      </label>
                      <div class="mt-1">
                        {{ form.url }}
                      </div>
                    </div>

                    <div>
                      <label
                          for="{{ form.tags.id_for_label }}"
                          class="block text-sm font-medium text-gray-900"
                      >
                        Tags
                      </label>
                      <div class="mt-1">
                        {{ form.tags }}
                      </div>
                    </div>

                  </div>
                </div>
              </div>
            </div>
            <div class="flex flex-shrink-0 justify-end px-4 py-4">
              <button
                  type="button"
                  class="rounded-md border border-gray-300 bg-white py-2 px-4 text-sm font-medium text-gray-700 shadow-sm hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2"
              >
                Cancel
              </button>
              <button
                  type="submit"
                  class="ml-4 inline-flex justify-center rounded-md border border-transparent bg-indigo-600 py-2 px-4 text-sm font-medium text-white shadow-sm hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2"
              >
                Save
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
