<li class="p-4">
  <article>
    <h2 class="pb-2 text-base font-medium text-slate-800">
      <a href="{{ bookmark.url }}" target="_blank" rel="noreferrer">{{ bookmark.title }}</a>
    </h2>
    <p class="text-sm text-slate-600">
      {{ bookmark.description }}
    </p>
    <ul role="list" class="mt-4">
      {% for tag in bookmark.tags %}
        <li class="inline text-sm text-red-700">{{ tag }}</li>
      {% endfor %}
    </ul>
    <div class="text-xs text-slate-400">
      {{ bookmark.created | date:'F Y' | lower }}
      <button class="ml-3">edit</button>
    </div>
  </article>
</li>
