{% extends "stuff/base.html" %}

{% block title %}{{ item.name }}{% endblock %}

{% partialdef field-partial %}
<div class="px-4 py-6 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
    <dt class="text-sm font-medium text-base-content">{{ label }}</dt>
    <dd class="mt-1 text-sm text-base-content/70 sm:col-span-2 sm:mt-0">{{ value }}</dd>
</div>
{% endpartialdef field-partial %}

{% partialdef detail-partial %}
{% if htmx %}
    <title>{{ item.name }} - HTMX</title>
    {% include "sidebar.html#nav-mobile-partial" %}
    {% include "sidebar.html#nav-desktop-partial" %}
    {% include "stuff/base.html#menu-partial" %}
{% endif %}

<div class="card bg-base-100 border border-base-300 rounded-box">
    <div class="card-body gap-6">
        <div class="flex justify-between">
            <div>
            <h3 class="text-base font-semibold text-base-content">Item Detail</h3>
            <p class="mt-1 max-w-2xl text-sm text-base-content/70">Item details for {{ item.name }}.</p>
            </div>
            <details class="dropdown dropdown-end">
                <summary class="btn btn-ghost btn-sm">Manage</summary>
                <ul class="menu dropdown-content z-10 mt-2 w-56 rounded-box bg-base-100 p-2 shadow">
                    <li>
                        <a href="{% url 'stuff:item-edit' item.id %}"
                            hx-get="{% url 'stuff:item-edit' item.id %}"
                            hx-push-url="true"
                            hx-target="#id_content">Edit item</a>
                    </li>
                    <li>
                        <a href="#"
                            hx-get="{% url 'stuff:inventory-new' item.id %}"
                            hx-push-url="true"
                            hx-target="#id_content">Create inventory</a>
                    </li>
                    <li>
                        <a href="#"
                            hx-get="{% url 'stuff:bookmark-select' item.id %}"
                            hx-push-url="true"
                            hx-target="#id_content">Add bookmark</a>
                    </li>
                    <li>
                        <a href="#"
                            hx-post="{% url 'stuff:item-delete' item.id %}"
                            hx-confirm="Are you sure you want to delete this item?"
                            hx-params="none"
                            hx-target="#id_content">Delete item</a>
                    </li>
                </ul>
            </details>
        </div>
    </div>
    <div class="border-t border-base-300">
        <dl class="divide-y divide-base-200">
            {% with label="Name" value=item.name %}
                {% partial field-partial %}
            {% endwith %}
            {% with label="Notes" value=item.notes %}
                {% partial field-partial %}
            {% endwith %}
            <div class="px-4 py-6 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
                <dt class="text-sm font-medium text-base-content">Inventory</dt>
                <dd class="mt-2 text-sm text-base-content sm:col-span-2 sm:mt-0">
                    <ul role="list" class="list list-sm border border-base-300 rounded-box bg-base-100">
                    {% for inv in item.inventories.all %}
                        <li class="list-row">
                            <div >
                                <a href="{% url 'stuff:location-detail' pk=inv.location.id %}"
                                    hx-get="{% url 'stuff:location-detail' pk=inv.location.id %}"
                                    hx-target="#id_content"
                                    hx-push-url="true"
                                    class="link link-hover link-primary">
                                    {{ inv.location }}
                                </a>
                                <button hx-get="{% url 'stuff:inventory-edit' inv.id %}"
                                    hx-target="#id_content"
                                    hx-push-url="true"
                                    type="button"
                                    class="btn btn-ghost btn-xs ml-2">edit</button>

                            </div>
                            <div >
                                <button hx-post="{% url 'stuff:inventory-adjust' pk=inv.id %}"
                                    hx-target="#id_quantity_{{ inv.id }}"
                                    hx-vals='{"quantity": -1}'
                                    type="button"
                                    class="btn btn-primary btn-circle btn-xs mr-2">
                                    <svg class="size-3" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" >
                                        <path stroke-linecap="round" stroke-linejoin="round" d="M5 12h14" />
                                    </svg>
                                </button>
                                <span class="inline-block text-center w-6 font-medium" id="id_quantity_{{ inv.id }}">{{ inv.quantity }}</span>
                                <button hx-post="{% url 'stuff:inventory-adjust' pk=inv.id %}"
                                    hx-target="#id_quantity_{{ inv.id }}"
                                    hx-vals='{"quantity": 1}'
                                    type="button"
                                    class="btn btn-primary btn-circle btn-xs ml-2">
                                    <svg class="size-3" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true" data-slot="icon">
                                        <path d="M10.75 4.75a.75.75 0 0 0-1.5 0v4.5h-4.5a.75.75 0 0 0 0 1.5h4.5v4.5a.75.75 0 0 0 1.5 0v-4.5h4.5a.75.75 0 0 0 0-1.5h-4.5v-4.5Z" />
                                    </svg>
                                </button>
                            </div>
                        </li>
                    {% endfor %}
                    </ul>
                </dd>
            </div>
            {% with label="Reorder Level" value=item.reorder_level %}
                {% partial field-partial %}
            {% endwith %}
            {% if item.tags.all %}
                <div class="px-4 py-6 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
                    <dt class="text-sm font-medium text-base-content">Item Tags</dt>
                    <dd class="mt-1 text-sm text-base-content/70 sm:col-span-2 sm:mt-0">
                        <ul role="list" class="shrink-0">
                        {% for tag in item.tags.all %}
                            <li class="inline">
                                <a href="{% url 'stuff:item-list' %}?query=%23{{ tag }}"
                                    hx-get="{% url 'stuff:item-list' %}?query=%23{{ tag }}"
                                    hx-push-url="true"
                                    hx-target="#id_content"
                                    class="link-hover text-error">{{ tag }}</a>
                            </li>
                        {% endfor %}
                        </ul>
                    </dd>
                </div>
            {% endif %}
            {% include "bookmarks/_detail_page.html" %}
        </dl>
    </div>
</div>
{% endpartialdef detail-partial %}

{% block content %}
  {% partial detail-partial %}
{% endblock content %}
