{% extends "stuff/base.html" %}

{% block title %}Locations{% endblock %}

{% partialdef list-partial %}
{% if htmx %}
<title>Locations - HTMX</title>
{% include "sidebar.html#nav-mobile-partial" %}
{% include "sidebar.html#nav-desktop-partial" %}
{% include "stuff/base.html#menu-partial" %}
{% endif %}

<div class="px-4 sm:px-6 lg:px-8">
    <div class="sm:flex sm:items-center">
        <div class="sm:flex-auto">
            <h1 class="text-lg font-semibold text-base-content">
                {% if ancestors %}
                    <a href="{% url 'stuff:location-list' 0 %}"
                        hx-get="{% url 'stuff:location-list' 0 %}"
                        hx-target="#id_content"
                        hx-push-url="true"
                        class="link link-hover link-primary">Locations</a>
                {% else %}
                    Locations
                {% endif %}
                {% for id, name in ancestors %}
                    ::
                    {% if not forloop.last %}
                        <a href="{% url 'stuff:location-list' id %}"
                            hx-get="{% url 'stuff:location-list' id %}"
                            hx-target="#id_content"
                            hx-push-url="true"
                            class="link link-hover link-primary">{{ name }}</a>
                    {% else %}
                        {{ name }}
                    {% endif %}
                {% endfor %}
            </h1>
        </div>
        <div class="mt-4 sm:mt-0 sm:ml-16 sm:flex-none">
            <button hx-get="{% url 'stuff:location-new' %}{% querystring parent=parent_id %}"
                hx-target="#id_content"
                hx-push-url="true"
                type="button"
                class="btn btn-primary hidden sm:inline-flex">
                Add location
            </button>
        </div>
    </div>

    <div class="mt-8 flow-root">
        <div class="-mx-4 -my-2 overflow-x-auto sm:-mx-6 lg:-mx-8">
            <div class="inline-block min-w-full py-2 align-middle sm:px-6 lg:px-8">
                <div class="border border-base-300 rounded-box bg-base-100 overflow-x-auto">
                <table class="table table-sm w-full">
                    <thead>
                        <tr>
                            <th scope="col" class="text-sm font-semibold text-base-content">Location</th>
                            <th scope="col" class="text-sm font-semibold text-base-content">Code</th>
                            <th scope="col" class="text-sm font-semibold text-base-content">Children</th>
                            <th scope="col" class="relative">
                                <span class="sr-only">Edit</span>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for location in locations %}
                        <tr>
                            <td class="text-sm font-medium text-base-content">
                                {% if location.is_leaf %}
                                <a hx-get="{% url 'stuff:location-detail' location.pk %}"
                                   hx-target="#id_content"
                                   hx-push-url="true"
                                   href="#"
                                    class="link link-hover link-primary" >
                                    {{ location.name }}
                                </a>
                                {% else %}
                                <a hx-get="{% url 'stuff:location-list' location.pk %}"
                                   hx-target="#id_content"
                                   hx-push-url="true"
                                   href="#"
                                    class="link link-hover link-primary" >
                                    {{ location.name }}
                                </a>
                                {% endif %}
                            </td>
                            <td class="text-sm text-base-content/70">
                                <div class="flex flex-row content-end">
                                <div>{{ location.code }}</div>
                                <button @click="navigator.clipboard.writeText('{{ location.code }}');"
                                    class="btn btn-ghost btn-xs ml-2"
                                    type="button" >
                                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-5">
                                          <path stroke-linecap="round" stroke-linejoin="round" d="M16.5 8.25V6a2.25 2.25 0 0 0-2.25-2.25H6A2.25 2.25 0 0 0 3.75 6v8.25A2.25 2.25 0 0 0 6 16.5h2.25m8.25-8.25H18a2.25 2.25 0 0 1 2.25 2.25V18A2.25 2.25 0 0 1 18 20.25h-7.5A2.25 2.25 0 0 1 8.25 18v-1.5m8.25-8.25h-6a2.25 2.25 0 0 0-2.25 2.25v6" />
                                        </svg>
                                </button>
                                </div>
                            </td>
                            <td class="text-sm text-base-content/70">{{ location.get_children_count }}</td>
                            <td class="text-right text-sm font-medium">
                                <a href="#"
                                   hx-get="{% url 'stuff:location-edit' location.pk %}"
                                   hx-target="#id_content"
                                   hx-push-url="true"
                                    class="link link-hover link-primary">Edit</a>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
                </div>
            </div>
        </div>
    </div>
</div>
{% endpartialdef list-partial %}

{% block content %}
{% partial list-partial %}
{% endblock content %}
