{% extends "upkeep/base.html" %}

{% block title %}Areas{% endblock %}

{% partialdef list-partial %}
{% if htmx %}
    <title>Areas - HTMX</title>
    {% include "sidebar.html#nav-mobile-partial" %}
    {% include "sidebar.html#nav-desktop-partial" %}
    {% include "upkeep/base.html#menu-partial" %}
{% endif %}

<div class="flex justify-end mb-4 mt-0 md:ml-4">
    <div x-data="{search: false}"
        x-on:keydown.meta.K.window="search = true"
        class="mr-4 relative flex items-center" >
        <label class="hidden" for="search">Search</label>
        <input hx-get="{% url 'upkeep:area-list' %}"
            hx-trigger="change"
            hx-push-url="true"
            type="text"
            name="query"
            id="search"
            value="{{ request.GET.query }}"
            hx-target="#id_content"
            class="input input-sm w-full pr-12"
            x-on:keyup.esc.prevent.stop="$el.blur(); search = false"
            x-trap="search" />
        <div class="absolute inset-y-0 right-0 flex py-1.5 pr-1.5">
            <kbd class="kbd kbd-sm">⌘K</kbd>
        </div>
    </div>

    <div class="flex md:mt-0 md:ml-4">
        <button hx-get="{% url 'upkeep:area-new' %}"
            type="button"
            hx-trigger="click"
            hx-target="#id_content"
            hx-push-url="true"
            class="btn btn-primary hidden md:inline-flex" >
            New Area
        </button>
        <button hx-get="{% url 'upkeep:area-new' %}"
            type="button"
            hx-trigger="click"
            hx-target="#id_content"
            hx-push-url="true"
            class="btn btn-primary md:hidden" >
            New
        </button>
    </div>
</div>

<div class="border border-base-300 rounded-box bg-base-100">
    <div class="overflow-x-auto">
        <table class="table table-sm w-full">
            <thead>
                <tr>
                    <th scope="col" class="text-sm font-semibold text-base-content">Area</th>
                    <th scope="col" class="text-sm font-semibold text-base-content">Tasks</th>
                    <th scope="col" class="text-sm font-semibold text-base-content">Next Due</th>
                    <th scope="col" class="relative">
                        <span class="sr-only">Edit</span>
                    </th>
                </tr>
            </thead>
            <tbody>
                {% for area in areas %}
                <tr>
                    <td class="text-sm font-medium text-base-content">
                        <a hx-get="{% url 'upkeep:area-detail' area.id %}"
                           href="{% url 'upkeep:area-detail' area.id %}"
                           hx-target="#id_content"
                           hx-push-url="true"
                           class="link link-hover link-primary" >
                            {{ area.name }}
                        </a>
                    </td>
                    <td class="text-sm text-base-content/70">
                        {{ area.task_count }}
                    </td>
                    <td class="text-sm text-base-content/70">
                       {% if area.due_task_id %}
                            {{ area.due_date }}
                       {% endif %}
                    </td>
                    <td class="text-right text-sm font-medium">
                        <a href="#"
                           hx-get="{% url 'upkeep:area-edit' area.id %}"
                           hx-target="#id_content"
                           hx-push-url="true"
                           class="link link-hover link-primary">Edit</a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    <nav class="flex items-center justify-between border-t border-base-300 bg-base-100 px-4 py-3 sm:px-6" aria-label="Pagination">
        <div class="hidden sm:block">
            <p class="text-sm text-base-content/70">
                Showing
                <span class="font-medium">{{ page_obj.start_index }}</span>
                to
                <span class="font-medium">{{ page_obj.end_index }}</span>
                of
                <span class="font-medium">{{ paginator.count }}</span>
                results
            </p>
        </div>
        <div class="flex flex-1 justify-between sm:justify-end">
            {% if page_obj.has_previous %}
                <a href="{% querystring page=page_obj.previous_page_number %}"
                    hx-get="{% querystring page=page_obj.previous_page_number %}"
                    hx-target="#id_content"
                    hx-push-url="true"
                    class="btn btn-sm btn-outline">Previous</a>
            {% endif %}

            {% if page_obj.has_next %}
                <a href="{% querystring page=page_obj.next_page_number %}"
                    hx-get="{% querystring page=page_obj.next_page_number %}"
                    hx-target="#id_content"
                    hx-push-url="true"
                    class="btn btn-sm btn-outline ml-3">Next</a>
            {% endif %}
        </div>
    </nav>
</div>
{% endpartialdef list-partial %}

{% block content %}
{% partial list-partial %}
{% endblock content %}
