{% extends "upkeep/base.html" %}
{% load partials %}

{% block title %}{{ task.name|truncatewords:2 }}{% endblock %}

{% partialdef field-partial %}
<div class="px-4 py-6 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
    <dt class="text-sm font-medium text-gray-900">{{ label }}</dt>
    <dd class="mt-1 text-sm/6 text-gray-700 sm:col-span-2 sm:mt-0">{{ value }}</dd>
</div>
{% endpartialdef field-partial %}

{% partialdef detail-partial %}
{% if htmx %}
    <title>{{ task.name|truncatewords:2 }} - HTMX</title>
    {% include "sidebar.html#nav-mobile-partial" %}
    {% include "sidebar.html#nav-desktop-partial" %}
    {% include "upkeep/base.html#menu-partial" %}
{% endif %}

<div class="overflow-hidden bg-white shadow-sm sm:rounded-lg">

    {# Header #}
    <div class="flex justify-between px-4 py-6 sm:px-6">
        <div>
            <h3 class="text-base/7 font-semibold text-gray-900">{{ task.area.name }}: {{ task.name }}</h3>
            <p class="mt-1 max-w-2xl text-sm/6 text-gray-500">{{ task.notes }}</p>
            {% if task.interval %}
                <p class="mt-1 max-w-2xl text-sm/6 text-gray-500">Interval: {{ task.interval }} {{ task.frequency }} </p>
            {% endif %}
            {% if task.duration %}
                <p class="mt-1 max-w-2xl text-sm/6 text-gray-500">Duration: {{ task.duration }}</p>
            {% endif %}
        </div>
        {# Manage Menu #}
        <div x-data="{ open: false }" class="relative">
          <button  @click="open = ! open" type="button" class="inline-flex items-center gap-x-1 text-sm/6 font-semibold text-gray-900" aria-expanded="false">
            <span>Manage</span>
            <svg class="size-5" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true" data-slot="icon">
              <path fill-rule="evenodd" d="M5.22 8.22a.75.75 0 0 1 1.06 0L10 11.94l3.72-3.72a.75.75 0 1 1 1.06 1.06l-4.25 4.25a.75.75 0 0 1-1.06 0L5.22 9.28a.75.75 0 0 1 0-1.06Z" clip-rule="evenodd" />
            </svg>
          </button>
          <div x-show="open"
                x-transition:enter="transition ease-out duration-200"
                x-transition:enter-start="opacity-0 translate-y-1"
                x-transition:enter-end="opacity-100 translate-y-0"
                x-transition:leave="transition ease-in duration-150"
                x-transition:leave-start="opacity-100 translate-y-0"
                x-transition:leave-end="opacity-0 translate-y-1"
                class="absolute left-1/2 z-10 mt-5 flex w-screen max-w-min -translate-x-3/4 px-4">
                <div class="w-56 shrink rounded-xl bg-white p-4 text-sm/6 font-semibold text-gray-900 ring-1 shadow-lg ring-gray-900/5">
                    <a href="{% url 'upkeep:task-edit' task.id %}"
                        hx-get="{% url 'upkeep:task-edit' task.id %}"
                        hx-push-url="true"
                        hx-target="#id_content"
                        class="block p-2 hover:text-indigo-600">Edit task</a>
                    <a href="#"
                        hx-post="{% url 'upkeep:task-delete' task.id %}"
                        hx-confirm="Are you sure you want to delete this item?"
                        hx-params="none"
                        hx-target="#id_content"
                        class="block p-2 hover:text-indigo-600">Delete task</a>
                    <a href="{% url 'upkeep:schedule-new' task.id %}"
                        hx-get="{% url 'upkeep:schedule-new' task.id %}"
                        hx-target="#id_content"
                        class="block p-2 hover:text-indigo-600">Create schedule</a>
                </div>
          </div>
        </div>
    </div>

    {# Schedule table #}
    <div class="inline-block min-w-full py-2 align-middle sm:px-6 lg:px-8">
        <table class="min-w-full divide-y divide-gray-300 ">
            <thead>
                <tr>
                    <th scope="col" class="py-3.5 pr-3 pl-4 text-left text-sm font-semibold text-gray-900 sm:pl-0">Completed</th>
                    <th scope="col" class="px-3 py-3.5 text-left text-sm font-semibold text-gray-900">Due Date</th>
                    <th scope="col" class="px-3 py-3.5 text-left text-sm font-semibold text-gray-900">Date Completed</th>
                    <th scope="col" class="hidden md:table-cell px-3 py-3.5 text-left text-sm font-semibold text-gray-900">Notes</th>
                </tr>
            </thead>
            <tbody class="divide-y divide-gray-200">
                {% for schedule in task.schedules.all %}
                <tr>
                    <td class="group my-4 pr-3 pl-4 text-sm font-medium whitespace-nowrap text-gray-900 sm:pl-0">
                        <input
                            hx-patch="{% url 'upkeep:schedule-toggle' schedule.id %}"
                            type="checkbox"
                            class="my-1 appearance-none rounded-sm border border-gray-300 bg-white checked:border-indigo-600 checked:bg-indigo-600 indeterminate:border-indigo-600 indeterminate:bg-indigo-600 focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600 disabled:border-gray-300 disabled:bg-gray-100 disabled:checked:bg-gray-100 forced-colors:appearance-auto"
                            {% if schedule.is_complete %}checked{% endif %} >
                        <button hx-get="{% url 'upkeep:schedule-edit' schedule.id %}"
                            hx-target="#id_content"
                            hx-push-url="true"
                            type="button"
                            class="hidden group-hover:inline-block rounded-sm bg-indigo-50 ml-2 px-2 py-1 text-xs font-semibold text-indigo-600 shadow-xs hover:bg-indigo-100">edit</button>

                    </td>
                    <td class="px-3 py-4 text-sm whitespace-nowrap text-gray-500">{{ schedule.due_date }}</td>
                    <td class="px-3 py-4 text-sm whitespace-nowrap text-gray-500">{{ schedule.completion_date|default:'' }}</td>
                    <td class="hidden md:table-cell px-3 py-4 text-sm whitespace-nowrap text-gray-500">{{ schedule.notes }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    {# Consumable table #}
    {% if task_consumables %}
    <div class="inline-block min-w-full py-2 align-middle sm:px-6 lg:px-8">
        <table class="min-w-full divide-y divide-gray-300 ">
            <thead>
                <tr>
                    <th scope="col" class="py-3.5 pr-3 pl-4 text-left text-sm font-semibold text-gray-900 sm:pl-0">Consumable</th>
                    <th scope="col" class="hidden sm:table-cell px-3 py-3.5 text-center text-sm font-semibold text-gray-900">Required</th>
                    <th scope="col" class="px-3 py-3.5 text-center text-sm font-semibold text-gray-900">On Hand</th>
                    <th scope="col" class="hidden md:table-cell px-3 py-3.5 text-left text-sm font-semibold text-gray-900">Notes</th>
                </tr>
            </thead>
            <tbody class="divide-y divide-gray-200">
                {% for tc in task_consumables %}
                <tr>
                    <td class="py-4 pr-3 pl-4 text-sm  whitespace-nowrap text-gray-900 sm:pl-0">
                        <a hx-get="{% url 'stuff:item-detail' tc.item.pk %}"
                            hx-target="#id_content"
                            hx-push-url="true"
                            href="#"
                            class="text-indigo-600 hover:text-indigo-900" >
                            {{ tc.item.name }}
                        </a>
                    </td>
                    <td class="hidden sm:table-cell px-3 py-4 text-sm text-center whitespace-nowrap text-gray-500">{{ tc.quantity }}</td>
                    <td class="px-3 py-4 text-sm text-center whitespace-nowrap text-gray-500">{{ tc.item.quantity }}</td>
                    <td class="hidden md:table-cell px-3 py-4 text-sm whitespace-nowrap text-gray-500">{{ tc.item.notes }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    {% endif %}
</div>
{% endpartialdef detail-partial %}

{% block content %}
  {% partial detail-partial %}
{% endblock content %}
