@import "../config.less";

.header {
  position: fixed;
  z-index: 1;
  width: 100%;
  background-color: @puka-header-background-color;
}

.layoutContent {
  margin-top: 100px;
  padding: 0 50px;
  max-width: @puka-page-width;
}

.bookmarksContent {
  min-height: 280px;
  padding: 24px;
  background-color: #fff;
}

.footer {
  background-color: @puka-header-background-color;
}
