{% extends "stuff/base.html" %}
{% load crispy_forms_tags %}

{% block title %}Select Bookmark{% endblock %}

{% block content %}
  {% partial filter-partial %}
{% endblock content %}

{% partialdef filter-partial %}
  {% if htmx %}
    <title>Select Bookmark - HTMX</title>
    {% include "sidebar.html#nav-mobile-partial" %}
    {% include "sidebar.html#nav-desktop-partial" %}
    {% include "stuff/base.html#menu-partial" %}
  {% endif %}
  {% crispy filter.form %}
  <ul id="id_bookmarks" class="menu bg-base-100 shadow-sm">
      {% for bookmark in bookmarks %}
        <li>
          <a href="#"
              hx-post=""
              hx-vals='{"bookmark_pk": {{ bookmark.id }} }'>
            {{ bookmark.title }}
          </a>
        </li>
      {% empty %}
        <li class="menu-disabled"><span>No bookmarks found.</span></li>
      {% endfor %}
  </ul>
  <nav class="flex items-center justify-between border-t border-base-300 bg-base-100 px-4 py-3 sm:px-6" aria-label="Pagination">
      <div class="hidden sm:block">
          <p class="text-sm">
              Showing
              <span class="font-medium">{{ page_obj.start_index }}</span>
              to
              <span class="font-medium">{{ page_obj.end_index }}</span>
              of
              <span class="font-medium">{{ paginator.count }}</span>
              results
          </p>
      </div>
      <div class="flex flex-1 justify-between sm:justify-end">
          {% if page_obj.has_previous %}
              <a href="{% querystring page=page_obj.previous_page_number query=query %}"
                  hx-get="{% querystring page=page_obj.previous_page_number query=query %}"
                  hx-target="#id_content"
                  hx-push-url="true"
                  class="btn btn-outline btn-sm">Previous</a>
          {% endif %}

          {% if page_obj.has_next %}
              <a href="{% querystring page=page_obj.next_page_number query=query %}"
                  hx-get="{% querystring page=page_obj.next_page_number query=query %}"
                  hx-target="#id_content"
                  hx-push-url="true"
                  class="btn btn-outline btn-sm ml-3">Next</a>
          {% endif %}
      </div>
  </nav>

  <script>
      function clearSearch() {
          document.querySelector('#id_text').value = '';
          document.querySelector('#id_url').value = '';
          document.querySelector('#id_tags').value = '';
          document.querySelector('#id_created').value = '';
          document.querySelector('#id_active').value = 'unknown';
      }
  </script>
{% endpartialdef filter-partial %}
