{% extends "sidebar.html" %}
{% load utils %}

{% block title %}Bookmarks{% endblock %}

{% block menu %}
<div class="menu-title">Tasks</div>
{% partial menu-partial %}
{% endblock menu %}

{% partialdef menu-partial %}
<ul hx-swap-oob="true"
    id="id_extra_menu"
    class="menu -mx-2 mt-2">
    <li>
        <a hx-get="{% url 'bookmarks:filter' %}"
            hx-target="#id_content"
            hx-push-url="true"
            href="#"
            class="{% get_current_class 'bookmarks:filter' %}">
            <span class="badge badge-neutral badge-sm">F</span>
            <span class="truncate">Filter Bookmarks</span>
        </a>
    </li>

    <li>
        <a hx-get="{% url 'bookmarks:tags' %}"
            hx-target="#id_content"
            hx-push-url="true"
            href="#"
            class="{% get_current_class 'bookmarks:tags' %}">
            <span class="badge badge-neutral badge-sm">B</span>
            <span class="truncate">Bookmark Tags</span>
        </a>
    </li>
</ul>
{% endpartialdef menu-partial %}
