{% extends "base.html" %}

{% block title %}Filter{% endblock %}

{% block breadcrumbs %}
<ul>
    <li><a href="{% url 'home' %}">Overview</a></li>
    <li><a href="{% url 'bookmarks:list' %}">Bookmarks</a></li>
    <li><a href="{% url 'bookmarks:list' %}">Filter</a></li>
</ul>
{% endblock breadcrumbs %}

{% block content %}
  {% partial filter-partial %}
{% endblock content %}

{% partialdef filter-partial %}
<form method="get" class="mb-4">
    <div class="fieldset mb-2">
        <label>
            <span class="label mb-1">Title or description contains words</span>
            {{ filter.form.text }}
        </label>
    </div>
    <div class="fieldset mb-2">
        <label>
            <span class="label mb-1">Tag name is in</span>
            {{ filter.form.tags }}
        </label>
    </div>
    <div class="fieldset grid-cols-2 mb-2">
        <label>
            <div class="label mb-1 block">Year created</div>
            {{ filter.form.created }}
        </label>
        <label>
            <div class="label mb-1 block">Active</div>
            {{ filter.form.active }}
        </label>
    </div>
    <footer>
        <button class="btn btn-primary">  Search </button>
        <a
            href="{% url 'bookmarks:filter' %}"
            class="btn btn-primary btn-soft"
        > Clear </a>
    </footer>
</form>
</form>
  <ul
      id="id_bookmarks"
      class="list rounded-box border border-base-300 shadow-sm bg-base-100"
  >
    {% include "bookmarks/bookmark_list.html#list-items-partial" %}
  </ul>

  <script>
      function clearSearch() {
          document.querySelector('#id_text').value = '';
          document.querySelector('#id_url').value = '';
          document.querySelector('#id_tags').value = '';
          document.querySelector('#id_created').value = '';
          document.querySelector('#id_active').value = 'unknown';
      }
  </script>
{% endpartialdef filter-partial %}
