{% extends "bookmarks/base.html" %}

{% block content %}
{% partial list-partial %}
{% endblock content %}

{% partialdef list-partial %}
{% if htmx %}
    <title>Bookmarks - HTMX</title>
    {% include "sidebar.html#nav-mobile-partial" %}
    {% include "sidebar.html#nav-desktop-partial" %}
    {% include "bookmarks/base.html#menu-partial" %}
{% endif %}

<div class="flex justify-end mb-4 mt-0 md:ml-4">
    <div x-data="{search: false}"
        x-on:keydown.meta.K.window="search = true"
        class="mr-4 relative flex items-center">
        <label class="hidden" for="search">Search</label>
        <input type="text"
            name="q"
            id="search"
            {# fake pagination to force list-items-partial to be returned #}
            hx-get="{% url 'bookmarks:list' %}?page=x"
            hx-trigger="keyup changed delay:0.5s"
            hx-target="#id_bookmarks"
            class="input input-sm w-full pr-12"
            x-on:keyup.esc.prevent.stop="$el.blur(); search = false"
            x-on:blur="$el.value = ''; search = false"
            x-trap="search" />
        <div class="absolute inset-y-0 right-0 flex py-1.5 pr-1.5">
            <kbd class="kbd kbd-sm">⌘K</kbd>
        </div>
    </div>

    <div class="flex md:mt-0 md:ml-4">
        <button hx-get="{% url 'bookmarks:new' %}"
            type="button"
            hx-trigger="click"
            hx-target="#id_content"
            hx-push-url="true"
            class="btn btn-primary hidden md:inline-flex">
            New Bookmark
        </button>
        <button hx-get="{% url 'bookmarks:new' %}"
            type="button"
            hx-trigger="click"
            hx-target="#id_content"
            hx-push-url="true"
            class="btn btn-primary md:hidden">
            New
        </button>
    </div>
</div>

<ul id="id_bookmarks" class="list bg-base-100 shadow-sm">
    {% partial list-items-partial %}
</ul>
{% endpartialdef list-partial %}

{% partialdef list-items-partial %}
{% for bookmark in page_obj %}
    <li class="list-row"
        {% if forloop.last and page_obj.has_next %}
            hx-get="{% querystring page=page_obj.next_page_number %}"
            hx-trigger="revealed"
            hx-swap="afterend"
        {% endif %}>
        <article>
            <h2 class="pb-2 text-base font-medium">
                <a href="{{ bookmark.url }}" target="_blank" rel="noreferrer" class="link link-hover">{{ bookmark.title }}</a>
                {% if not bookmark.active %}
                    <span class="badge badge-error badge-sm">(inactive)</span>
                {% endif %}
            </h2>
            <p class="text-sm opacity-70">
                {{ bookmark.description }}
            </p>
            <ul class="mt-4 flex flex-wrap gap-1">
                {% for tag in bookmark.tags.all %}
                    <li class="inline">
                        <a href="?tags={{ tag }}" hx-get="?tags={{ tag }}" hx-target="#id_content" class="link link-secondary text-sm">{{ tag }}</a>
                    </li>
                {% endfor %}
            </ul>
            <div class="text-xs opacity-50 mt-2">
                {{ bookmark.created|date:'F Y'|lower }}
                <button hx-get="{% url 'bookmarks:edit' bookmark.id %}"
                    type="button"
                    class="btn btn-ghost btn-xs ml-3"
                    hx-target="#id_content"
                    hx-push-url="true">
                    edit
                </button>
            </div>
        </article>
    </li>
{% endfor %}
{% endpartialdef list-items-partial %}
