{% extends "root.html" %}
{% load static %}

{% block title %}Log In{% endblock %}

{% block root %}
    <div
        class="flex min-h-full flex-col items-center justify-center py-12 sm:px-6 lg:px-8"
    >
        <div class="sm:mx-auto sm:w-full sm:max-w-md">
            <img
                class="mx-auto h-10 w-auto"
                src="{% static 'puka-logo.svg' %}"
                alt="Puka"
            >
            <h2
                class="mt-6 text-center text-2xl/9 font-bold tracking-tight text-base-content"
            >
                Sign in to your account
            </h2>
        </div>

        <div class="mt-10 sm:mx-auto sm:w-full sm:max-w-[480px]">
            <div
                class="border border-base-200 bg-base-100 px-6 py-12 shadow-sm sm:rounded-lg sm:px-12"
            >
                <form class="space-y-6" method="POST">
                    {% csrf_token %}
                    <div>
                        <label for="id_username" class="label">
                            User Name
                        </label>
                        <input
                            type="text"
                            name="username"
                            id="id_username"
                            autocomplete="username"
                            required
                            class="input w-full"
                        >
                    </div>

                    <div>
                        <label for="id_password" class="label">Password</label>
                        <input
                            type="password"
                            name="password"
                            id="id_password"
                            autocomplete="current-password"
                            required
                            class="input w-full"
                        >
                    </div>

                    <div class="flex items-center justify-between">
                        <label class="flex items-center gap-3">
                            <input
                                type="checkbox"
                                inert
                                checked
                                id="remember-me"
                                name="remember-me"
                                class="checkbox"
                            >
                            <span class="label">Remember me</span>
                        </label>

                        <a
                            href="#"
                            class="link link-primary text-sm/6"
                        >
                            Forgot password?
                        </a>
                    </div>

                    <div>
                        <button type="submit" class="btn btn-primary btn-block">
                            Sign in
                        </button>
                    </div>
                </form>


            </div>

            <p class="mt-10 text-center text-sm/6 text-base-content/60">
                Not a member?
                <a href="#" class="link link-primary">Sign up for Puka</a>
            </p>
        </div>
    </div>
{% endblock root %}
