{% extends "root.html" %}
{% load static %}

{% block title %}Log In{% endblock %}

{% block root %}
    <div class="flex min-h-screen flex-col items-center justify-center py-12 sm:px-6 lg:px-8">
        <div class="sm:mx-auto sm:w-full sm:max-w-md">
            <img
                class="mx-auto h-10 w-auto"
                src="{% static 'puka-logo.svg' %}"
                alt="Puka"
            >
            <h2 class="mt-6 text-center text-2xl/9 font-bold tracking-tight text-base-content">
                Sign in to your account
            </h2>
        </div>

        <div class="mt-10 sm:mx-auto sm:w-full sm:max-w-[480px]">
            <c-ui.card class="shadow-sm" body_class="px-6 py-12 sm:px-12">
                <c-form.form :form="form" class="space-y-6">
                    <c-form.field :field="form.username" label="User Name" />
                    <c-form.field :field="form.password" />

                    <c-ui.button type="submit" variant="primary" class="btn-block">Sign in</c-ui.button>
                </c-form.form>
            </c-ui.card>
        </div>
    </div>
{% endblock root %}
