[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[packages]
django = "*"
graphene-django = "<3"
psycopg2 = "*"
django-extensions = "*"
pyjwt = "<2"
django-graphql-jwt = "*"
django-cors-headers = "*"

[dev-packages]
black = "*"
ptpython = "*"

[requires]
python_version = "3.9"

[pipenv]
allow_prereleases = true
